* {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.container {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    background: #f1f1f1;
    padding: 10px;
}
img {
    width: 100%;
}
.main {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    margin: 20px auto 30px auto;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: blueviolet;
    margin: 30px auto 30px auto;
}
h1 {
    text-transform: uppercase;
    font-weight: 800;
    color: black;
}